@import "tailwindcss";

@theme {
    --color-scheme: light dark;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        color-scheme: light dark;
    }

    .dark {
        color-scheme: dark;
    }
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 50;
}
